<div class="flex-container" style="display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;">

    <div class="flex-child magenta">
        <p id="statusElement">White to move.</p>
        <div id="chessboard" style="max-width: 422px;max-width: 422px;"></div>
        <link rel="stylesheet" href="~/AbChess-0.3.0/AbChess-0.3.0.css">
        <script src="~/AbChess-0.3.0/AbChess-0.3.0.js"></script>
        <script>
            var options = {
                imagesPath: "/staticfiles/AbChess-0.3.0/images/wikipedia/"
            };
            var abChess = new AbChess("chessboard", options);
            var movesCount = 0;
            var statusElement = document.getElementById("statusElement");

            function updateStatus() {
                var status = " to move.";
                var turn = "White";
                movesCount += 1;
                if (abChess.getActiveColor(movesCount) === "b") {
                    turn = "Black"
                }
                if (abChess.isCheckmate(movesCount)) {
                    status = "is checkmated.";
                }
                else if (abChess.isStalemate(movesCount)) {
                    status = "to move, but it is a stalemate.";
                }
                else if (abChess.isCheck(movesCount)) {
                    status = " is in check.";
                }
                statusElement.innerText = turn + status;

                //TODO: Update gamestate
                var gamestate = abChess.getFEN(movesCount);
            }

            abChess.setFEN();
            abChess.onMovePlayed(updateStatus);
        </script>
    </div>

    <div class="flex-child green">
        <div class="container">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userInput" /></div>
            </div>
            <div class="row">
                <div class="col-2">Message</div>
                <div class="col-4"><input type="text" id="messageInput" /></div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-6">
                    <input type="button" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
    </div>

</div>